<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    {% include "components/head.html" %}

    <style>
        body {
            padding-top: 56px;
        }
    </style>

</head>
<body>

    {% include "components/nav.html" %}

    <h1 class="text-center mt-5">Linux/Debian 12 - Server</h1>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Formulario de Usuario
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p style="color: green;">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="card-body">
                        <form action="/add_user" method="POST">
                            <div class="form-group">
                                <label for="username">User name</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Introduce tu nombre de usuario">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Introduce tu contraseña">
                            </div>
                            <div class="form-group">
			        <label for="level">Linux User Level</label>
				<select class="form-control" id="level" name="level">
                                {% for group in groups %}
                                    <option value="{{ group.0 }}">{{ group.1 }}</option>
  			        {% endfor %}
                                </select>
			    </div>
                            <button type="submit" class="btn btn-primary">Add new user</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        Users Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>User name</th>
                                        <th>Group</th>
                                        <th>Updated at</th>
                                        <th>Created at</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aquí se generarán las filas de la tabla con datos de la base de datos -->
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user.0 }}</td>
                                        <td>{{ user.1 }}</td>
                                        <td>{{ user.2 }}</td>
                                        <td>{{ user.3 }}</td>
                                        <td>{{ user.4 }}</td>
                                        <td style="display: flex;">
					{% if user.1 != 'a21110121' and user.1 != 'root' %}
                                            <a href="/edit/{{ user.0 }}" class="btn btn-primary mr-2">Edit</a>
                                            <a href="/delete/{{ user.0 }}" class="btn btn-danger">Delete</a>
                                        {% else %}
					    <strong style="color: #ccc;">This user can't be modified</strong>
					{% endif %}
					</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "components/footer.html" %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
