<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    {% include "components/head.html" %}

</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Iniciar sesión
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p style="color: red;">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/verify_login">
                            <div class="form-group">
                                <label for="user_name">User:</label>
                                <input type="text" name="user_name" value="root" class="form-control" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="user_password">Password:</label>
                                <input type="password" name="user_password" value="5cAb!8orSs]0" class="form-control" required readonly>
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
