<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>

    {% include "components/head.html" %}

    <style>
        body {
            padding-top: 56px;
        }

        .console {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #272727;
            font-family: monospace;
            white-space: pre-wrap;
            overflow-x: auto;
            border-radius: 10px;
        }

	pre {
	    color: white;
	}
    </style>
</head>
<body>
     
    {% include "components/nav.html" %}

    <h1 class="text-center mt-5">Logs from Flask/Server</h1>
    <div class="console">
        <pre>{{ log_content }}</pre><br>
    </div><br><br>

    {% include "components/footer.html" %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
