<footer class="text-center bg-dark text-light">
    <div class="container pt-4">
        <section class="mb-4">
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light m-1" href="https://www.linkedin.com/in/david-arturo-loera-olmos-0b7b28181" target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light m-1" href="https://github.com/DavidAr55" target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            <!-- Gmail -->
            <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light m-1" href="mailto:davidarturoloera@gmail.com" role="button" data-mdb-ripple-color="dark"><i class="fas fa-envelope"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-light" target="_blank" href="https://davidar55.github.io/MyPortfolio/">www.davidswebsite55.000webhostapp.com</a>
    </div>
</footer>
